.story #place {
  background-image: url("assets/Studio_Koukaki-image_place.png");
}

.sectionAnimation {
  opacity: 0;
}

.sectionAnimation--fadeIn {
  animation: sectionFadeIn 800ms ease-in forwards;
}

@keyframes sectionFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.titreAnimation {
  display: inline-block;
  transform: translateY(80px);
  opacity: 0;
}

.titreAnimation--scroll {
  animation: titreScroll 800ms ease-in forwards;
}
.titreAnimation:nth-child(2) {
  animation-delay: 300ms;
}

@keyframes titreScroll {
  from {
    transform: translateY(80px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
#titreStudio {
  overflow: inherit !important;
}

.site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8em;
}
.site-footer #nomination {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 1041px;
  padding-bottom: 20em;
}
@media (max-width: 996px) {
  .site-footer #nomination {
    width: auto;
  }
}
.site-footer #nomination h3 {
  width: 762px;
  height: 283px;
  padding: 1.7em;
  text-align: left;
  font-size: 2.625rem;
  line-height: 3.281rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url("assets/orange_cloud.png");
  background-size: contain;
}
@media (max-width: 996px) {
  .site-footer #nomination h3 {
    width: auto;
    height: auto;
    font-size: 1.25rem;
    line-height: 1.25rem;
    background-size: cover;
    padding: 55px;
  }
}
.site-footer #nomination .nomination__logo {
  width: 279px;
  height: 129px;
  margin-top: 2em;
}
.site-footer::after {
  bottom: 35em;
  right: 2em;
}

.story__article::after,
.story h2::after,
.studio h2::after,
.site-footer::after {
  animation: fleursQuiTournent 20s linear both infinite;
  transform-origin: center;
}

.studio h2::before,
.site-footer::before {
  animation: fleursQuiTournent 20s linear both infinite;
  transform-origin: center;
}

@keyframes fleursQuiTournent {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.banner {
  position: relative;
}
@media (max-width: 996px) {
  .banner #bannerVideo {
    display: none;
  }
}
.banner .logoContainer {
  position: absolute;
  max-width: 100%;
}
.banner .logoContainer img {
  width: auto;
  animation: flottement 1.5s ease-in-out infinite;
}

@keyframes flottement {
  0% {
    transform: translate(0);
  }
  55% {
    transform: translate(1px, 4px);
  }
  100% {
    transform: translate(0);
  }
}
.story #characters {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.story #characters .titreCharacters {
  text-align: left;
  background-position: left;
  margin-left: 2em;
  padding: 1em;
}
.story #characters .containerCharacters {
  max-width: 1440px;
}
.story #characters .containerCharacters .picturesCharacters {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.story #characters .containerCharacters .picturesCharacters .catPicture {
  margin: 0;
}

#place {
  position: relative;
}
#place .clouds {
  margin: 0;
  position: absolute;
  top: 10%;
  right: 5%;
  filter: blur(15px);
}
#place .cloud__little {
  top: 35%;
  right: 35%;
}

/*///////////////////////////////////////////////////////////////////////////////*/
@media (prefers-reduced-motion: reduce) {
  .banner .logoContainer img,
  .studio h2::before,
  .site-footer::before,
  .story__article::after,
  .story h2::after,
  .studio h2::after,
  .site-footer::after,
  .titreAnimation--scroll,
  .sectionAnimation--fadeIn {
    animation: none;
  }
}

/*# sourceMappingURL=style.css.map */
