// Ajout Fade-in des sections au scroll
.sectionAnimation {
    opacity: 0;
}

.sectionAnimation {
    &--fadeIn {
        animation: sectionFadeIn 800ms ease-in forwards;
    }
}

@keyframes sectionFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// Ajout animation des titres de sections
.titreAnimation {
    display: inline-block;
    transform: translateY(80px);
    opacity: 0;
}

.titreAnimation {
    &--scroll {
        animation: titreScroll 800ms ease-in forwards;
    }
    &:nth-child(2) {
        animation-delay: 300ms;
    }
}

@keyframes titreScroll {
    from {
        transform: translateY(80px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#titreStudio {
    overflow: inherit !important;
}

// Ajout Section Nomination aux Oscars

.site-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8em;
    #nomination {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        width: 1041px;
        padding-bottom: 20em;
        @media (max-width:996px) {
            width:auto;
        }
        h3 {
            width: 762px;
            height: 283px;
            padding : 1.7em;
            text-align: left;
            font-size: 2.625rem;
            line-height: 3.281rem;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            background-image: url("assets/orange_cloud.png");
            background-size: contain;
            @media (max-width:996px) {
                width:auto;
                height: auto;
                font-size : 1.25rem;
                line-height: 1.25rem;
                background-size: cover;
                padding: 55px;
            }
        }
        .nomination__logo {
            width: 279px;
            height: 129px;
            margin-top: 2em;
        }
    }
    &::after {
        bottom: 35em;
        right: 2em;
    }
}

// Animations florales
@mixin animationFleurs {
    animation: fleursQuiTournent 20s linear both infinite;
    transform-origin: center;
}

.story__article,
.story h2,
.studio h2,
.site-footer {
    &::after {
        @include animationFleurs();
    }
}

.studio h2,
.site-footer {
    &::before {
        @include animationFleurs();
    }
}

@keyframes fleursQuiTournent{
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

// Ajout vidéo banner + animation de flottaison
.banner {
    position: relative;
    .bannerVideo {
        @media (max-width:996px) {
            display: none;
        }
    }
    .logoContainer {
        position: absolute;
        max-width: 100%;
        img {
            //position: absolute;
            width: auto;
            animation : flottement 1.5s ease-in-out infinite;
        }
    }
    
}

@keyframes flottement {
    0% {
        transform: translate(0);
    }
    55% {
        transform: translate(1px, 4px);
    }
    100% {
        transform: translate(0);
    }
}